.navbar-brand img{
width: 280px;
}

.carousel, .carousel-item {
  overflow:hidden;
}

.carousel-item img{
  object-fit:cover;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.card-title, .card-text, .card-body{
  text-align: center;
  
}
